body {
  background: #283c86;
  background: -webkit-linear-gradient(to right, #45a247, #283c86);
  background: linear-gradient(to right, #45a247, #283c86);
}
.todo-container {
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.todos-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.clearfix {
  overflow: auto;
}
.form-container {
  width: 40%;
  margin: 7% auto;
  padding: 20px 50px;
  border-radius: 10px;
  text-align: center;
}
.form-control,
.form-select {
  margin: 10px;
  width: 90%;
}

@media (max-width: 650px) {
  .form-container {
    width: 90%;
  }
}
@media (min-width: 651px) and (max-width: 1000px) {
  .form-container {
    width: 60%;
  }
}
